/node_modules
/vendor
.live.env
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.svn
/storage/framework/views/
/storage/framework/sessions/
/storage/framework/cache/
/storage/framework/testing/
/storage/logs/
/storage/clockwork/
/public/mob_css
/public/web_css
/public/web_js
/public/mob_js
/public/mix-manifest.json
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/composer.lock
/package-lock.json
