.profile {
    width: 100%;
    background: #E5E5E5;
    margin-top: 30px;
    padding-bottom: 50px;
  }
  .profile .header__tag {
    padding-top: 19px;
    margin-top: 0;
  }
  .profile__right {
    flex: 1;
    overflow: hidden;
  }
  .profile__v2 {
    padding-top: 48px;
    display: flex;
    width: 1103px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .profile__menu {
    width: 259px;
    margin-right: 33px;
  }
  .profile__menu--v2 {
    padding: 25px 22px 11px 22px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 3px;
  }
  .profile__menu--avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
  }
  .profile__menu--avatar__v2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .profile__menu--name {
    font-family: Arial;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #222222;
    padding-bottom: 33px;
    border-bottom: 1px solid #ECECEC;
    overflow: hidden;
  }
  .profile__menu--option__link {
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
    display: block;
    margin: 26px 0;
    padding-left: 15px;
    border-left: 2.24px solid #FFFFFF;
  }
  .profile__menu--option__v2 {
    border-bottom: 1px solid #ECECEC;
  }
  .profile__menu--option__link:hover {
    color: #AE253D;
    border-left: solid 2.44px #AE253D;
  }
  .profile__contain {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 23px 30px 30px 30px;
    display: flex;
  }
  .profile__contain--title {
    font-family: Arial;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 43px;
  }
  .profile__contain--left {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
  }
  .profile__contain--left__avatar {
    position: relative;
    width: 137px;
    height: 137px;
  }
  .profile__contain--left__avatar--v2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .profile__contain--left__avatar--icon {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    z-index: 2;
    padding: 0 20px;
  }
  .profile__contain--left__avatar--after {
    width: 137px;
    height: 137px;
    border-radius: 50%;
    overflow: hidden;
    perspective: 1px;
    position: absolute;
    top: 0;
  }
  .profile__contain--left__avatar--after__v2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: #F3F3F3;
    opacity: 0.6;
    cursor: pointer;
  }
  .profile__contain--left__text {
    font-size: 15px;
    line-height: 17px;
    color: #222222;
    text-align: center;
    margin-top: 20px;
  }
  .profile__contain--right {
    flex: 1;
    padding-top: 100px;
  }
  .profile__contain--right__form {
    width: 100%;
  }
  .profile__contain--right__form--label {
    display: flex;
    align-items: center;
    margin-top: 22px;
    padding-top: 18px;
    border-top: 1px dashed #CFCFCF;
  }
  .profile__contain--right__form--label__icon {
    margin-right: 8px;
    margin-top: -4px;
  }
  .profile__contain--right__form--label__date {
    margin-bottom: 10px;
  }
  .profile__contain--right__form--label:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  .profile__contain--right__form--des {
    font-size: 12px;
    line-height: 14px;
    color: #BDBDBD;
    margin: 6px 0 12px 0;
  }
  .profile__contain--right__form--input {
    width: 100%;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    font-size: 15px;
    line-height: 17px;
    color: #4F4F4F;
    padding-left: 11px;
  }
  .profile__contain--right__form--input:nth-last-child(2) {
    margin-top: 18px;
  }
  .profile__contain--right__form--radio label {
    margin-right: 30px;
  }
  .profile__contain--right__form--radio input {
    margin-right: 12px;
    background: #AE253D;
  }
  .profile__contain--right__form--radio input:checked {
    background: #AE253D;
  }
  .profile__contain--form {
    width: 100%;
  }
  .profile__contain--form__div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 26px;
  }
  .profile__contain--form__div:nth-last-child(2) {
    margin-bottom: 0;
  }
  .profile__contain--form__label {
    font-size: 15px;
    line-height: 17px;
    color: #4F4F4F;
    width: 35%;
  }
  .profile__contain--form__input {
    flex: 1;
    width: 100%;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    padding-left: 23px;
  }
  .profile__contain--form__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
  .profile__contain--form__submit {
    text-align: right;
  }
  .profile__contain--form__submit--v2 {
    width: 159.91px;
    height: 40px;
    background: #AE253D;
    border-radius: 3px;
    font-family: Arial;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 27px;
  }
  .profile__contain--flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .profile__contain--select {
    width: 136px;
    height: 25px;
    background: #F5F5F5;
    border: 0.5px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    line-height: 23px;
    color: #828282;
  }
  .profile__contain--select option {
    font-size: 12px;
    line-height: 23px;
    color: #828282;
    padding: 0 9px;
  }
  .profile__contain--select select {
    background-color: #29ad1a;
  }
  .profile__contain .detail__tag--right {
    margin-top: 14px;
  }
  .profile__contain .detail__comment--right {
    flex: 1;
    padding-bottom: 15px;
    border-bottom: 0.7px dashed #BDBDBD;
  }
  .profile__savenews, .profile__viewnews, .profile__comment, .profile__pass, .profile__input--avatar {
    display: none;
  }
  
  .link-active {
    color: #AE253D;
    border-left: solid 2.44px #AE253D;
  }
  
  @media only screen and (max-width: 1103px) {
    .profile__v2 {
      width: 970px;
    }
  }
  @media only screen and (max-width: 970px) {
    .profile__v2 {
      width: 768px;
    }
    .profile__menu {
      width: 25%;
      margin-right: 20px;
    }
    .profile__contain--left {
      width: 30%;
    }
  }
  @media only screen and (max-width: 768px) {
    .profile__v2 {
      flex-direction: column;
      width: 100%;
      padding-left: 13px;
      padding-right: 13px;
      padding-top: 23px;
    }
    .profile__menu {
      width: 100%;
      margin-right: 0;
    }
    .profile__menu--v2 {
      padding: 25px 14px 11px 14px;
    }
    .profile__contain {
      padding: 23px 14px 30px 14px;
      margin-top: 18px;
      flex-direction: column;
    }
    .profile__contain--title {
      width: 100%;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ECECEC;
    }
    .profile__contain--left {
      width: 100%;
    }
    .profile__contain--right {
      width: 100%;
    }
    .profile__contain--form__submit {
      text-align: center;
    }
    .profile__contain--form__submit--v2 {
      width: 216px;
    }
    .profile__contain--form__label {
      width: 100%;
    }
    .profile__contain--form__div {
      flex-direction: column;
    }
    .profile__contain--form__icon {
      top: 70%;
    }
    .profile__contain--form__input {
      flex: unset;
      margin-top: 10px;
    }
    .profile__right {
      overflow: unset;
    }
  }