@charset "UTF-8";
/**thêm class  .blNoLogin  cùng div .detail__comment dùng khi không cần đăng nhập*/
.detail__comment .box-comment {
  width: 100%; }
  .detail__comment .box-comment .text {
    font-family: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #000;
    margin-bottom: 14px; }
  .detail__comment .box-comment .btn-comment {
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 7px 8px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #8b8b8b;
    margin-bottom: 14px; }
  .detail__comment .box-comment .box-bottom {
    text-align: right; }
    .detail__comment .box-comment .box-bottom .btn-submit {
      display: inline-block;
      background: #0098D1;
      border-radius: 4px;
      padding: 6px 24px;
      font-family: inherit;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF; }

.detail__comment .list-comment {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #ebebeb; }
  .detail__comment .list-comment .item {
    margin-bottom: 16px;
    display: flex; }
    .detail__comment .list-comment .item .avatar {
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 13px;
      border-radius: 50%;
      overflow: hidden; }
      .detail__comment .list-comment .item .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .detail__comment .list-comment .item .item-content {
      width: calc(100% - 53px); }
      .detail__comment .list-comment .item .item-content .user-name {
        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000;
        display: block;
        margin-bottom: 4px; }
      .detail__comment .list-comment .item .item-content .text-comment {
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #000;
        margin-bottom: 16px; }
      .detail__comment .list-comment .item .item-content .item-bottom {
        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #8b8b8b;
        display: flex;
        align-items: center; }
        .detail__comment .list-comment .item .item-content .item-bottom .item-ls {
          display: block;
          margin-right: 24px;
          margin-bottom: 0; }
          .detail__comment .list-comment .item .item-content .item-bottom .item-ls:last-child {
            margin-right: 0; }
    .detail__comment .list-comment .item .box-reply {
      border-left: 1px solid #ebebeb;
      padding-left: 16px;
      margin-top: 16px; }
      .detail__comment .list-comment .item .box-reply .item-reply {
        display: flex;
        margin-bottom: 16px; }
        .detail__comment .list-comment .item .box-reply .item-reply:last-child {
          margin-bottom: 0; }
        .detail__comment .list-comment .item .box-reply .item-reply .item-bottom {
          display: none; }

.detail__comment .view-more {
  background: #FAFAFC;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  display: block !important;
  padding: 10px;
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #8b8b8b; }

.detail__comment .view-more.hidden {
  display: none !important; }

.blNoLogin .input-info input {
  width: calc(100%);
  height: 40px;
  background: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #8b8b8b;
  padding: 0 8px; }

.blNoLogin .box-comment .input-info {
  display: grid;
  column-gap: 20px;
  justify-content: space-between;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  margin-bottom: 20px; }

.blNoLogin .box-comment:has(.inval) .input-info {
  margin-bottom: 26px; }

.blNoLogin .inval {
  position: relative; }
  .blNoLogin .inval .require {
    border: 1px solid #9F224E; }

.blNoLogin .inval.t-content {
  padding-bottom: 15px; }
  .blNoLogin .inval.t-content:after {
    content: "Bạn chưa nhập nội dung bình luận.";
    content: "Bạn chưa nhập nội dung bình luận.";
    display: block;
    display: block;
    width: 100%;
    width: 100%;
    font: 400 13px/15px arial;
    font: 400 13px/15px arial;
    color: #9F224E;
    color: #9F224E;
    bottom: 10px;
    bottom: 10px;
    left: 0;
    left: 0;
    position: absolute;
    position: absolute; }

.blNoLogin .inval.umail:after {
  content: "Hãy nhập email";
  font: 400 13px/15px arial;
  color: #9F224E;
  display: block;
  margin-top: 4px; }

.blNoLogin .inval.uname:after {
  content: "Hãy nhập họ và tên";
  font: 400 13px/15px arial;
  color: #9F224E;
  margin-top: 4px; }

.blNoLogin .erroMail:after {
  content: "Email bạn nhập không hợp lệ";
  font: 400 13px/15px arial;
  color: #9F224E;
  display: block;
  margin-top: 4px; }

.box-comment .input-info {
  display: none; }

#commentNologin {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #858585;
  cursor: pointer; }

@media (max-width: 767px) {
  .blNoLogin .box-comment .input-info {
    grid-template-columns: calc(100%);
    row-gap: 10px;
    margin-bottom: unset; }
  .blNoLogin .box-comment:has(.inval) .input-info {
    margin-bottom: -10px; } }
